.item_number {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index {
    font-size: 0.7rem;
    font-weight: bold;
    font-family: monospace;
}

.name {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.img {
    width: 20px;
    margin-right: 0.5rem;
}