@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;0,900;1,200;1,400;1,600;1,800;1,900&display=swap');

:root {
  --yellow: #FFDBA4;
  --accent-color: #862c2c;
  --card-bg: rgba(0, 0, 0, 0.859);
  --white: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--yellow);
}

ul {
  list-style: none;
}

#__next {
  width: 100vw;
}

.hr-line {
  width: 95%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.155);
  margin: 0.5rem auto 0.7rem;
}

.flex {
  display: flex;
}