.container {
    width: 100%;
    background-color: var(--card-bg);
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
    color: var(--white);
}

.list {
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    width: 100%;
}

.drag {
    padding: 0.2rem 0.08rem;
    box-sizing: content-box;
    border-radius: 5px;
    opacity: 0;
    transition: var(--fade-in);

    display: flex;
    place-content: center;
}

.drag:hover {
    background-color: black;
    cursor: grab;
}

.drag:active {
    cursor: grabbing;
    background: var(--accent-color);
}

.card:hover>.drag {
    opacity: 1;
}

.item_number {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1
}

.index {
    font-size: 0.7rem;
    font-weight: bold;
    font-family: monospace;
}

.name {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.img {
    font-size: 18px;
    margin-right: 0.2rem;
    padding: 0.2rem;
    box-sizing: content-box;
    border-radius: 5px;
    transition: var(--fade-in);
}

.img:hover {
    background-color: black;
}

.hr_line {
    width: 90%;
    height: 1px;
    background-color: rgba(87, 87, 87, 0.456);
    margin: 0.3rem 0 0.3rem 1.5rem;
}

.drag_line {
    width: 90%;
    height: 5px;
    background-color: var(--accent-color);
    margin: 0.3rem 0 0 1.5rem;
    border-radius: 1000px;
}